<form action="/createUser" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="number" name="age" placeholder="age">
    <button>submit</button>
</form>